# folders
__pycache__
.idea
model_data
src/physiotrack.egg-info
examples/output

# model files
*.pt
*.engine
*.onnx

# scripts
test.py
main.py

# media 
*.avi
*.mp4
*.wav
*.jpg
*.png

# other
*.ovpn


